<!-- {% macro displayMovieList(movie_list) %}

    {% for movie in movie_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/movie/{{movie.id}}">
                    {{ movie.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %} -->

<!-- Displaying reviews macro -->
<!-- {% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ review.title}} </h2>
        <p> {{ review.review | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %} -->
{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col-md-6">
			
			<div class="text-center">
			<p>Title:{{category.title}}</p>
			<p>Category:{{category.category}}</p>
			
				<blockquote >
					<h2>{{category.description}}</h2>
					<footer class="blockquote-footer"> Posted by {{category.user.username}}</footer>
				</blockquote>
				
				<a href="{{url_for('main.new_comment',pitch_id = category.id)}}" class="btn btn-info"> Add a comment</a>
				
				<a href="{{url_for('main.upvote',pitch_id = category.id)}}" class= "btn btn-success btn-sm"><i></i>Upvote <span>{{category.upvotes.count()}}</span></a>
				<a href="{{url_for('main.downvote',pitch_id = category.id)}}" class= "btn btn-danger btn-sm"><i class="far fa-thumbs-up"></i>Downvote <span>{{category.downvotes.count()}}</span></a>


			
		</div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}
